{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bundles/cinemaxfeedback/css/feedback.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cinemax/css/catalog.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block search %}
    <div class="search">
        {% render controller('CinemaxBundle:Search:ShowForm') %}
    </div>
{% endblock %}
{% block body %}
    <div class="feedback" style="margin-bottom: -50px">
        <span class="feedback_sended">Ваше сообщение отправлено</span>
    </div>
    <div class="catalog_slider">
        {% render controller("CinemaxBundle:Content:getSlider") %}
    </div>
{% endblock body %}