{% extends '::base.html.twig' %}
{% block title %}
    Регистрация
{% endblock %}
{% block body %}
    <div class="registration_block" >
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
