.feedback{
    margin-top: 70px;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 30px;
}
.feedback > h1{
    color: red;
    margin-bottom: 10px;
}
.item input, textarea{
    background-color: transparent ;
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 5px;
    outline: none;
}
.item input{
    height: 24px;
}
.item input[type=email]{
    margin-bottom: 15px;
    width: 30%;
    font-size: 16px;
}
.item input[type=text]{
    width: 28%;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
}
.item textarea{
    width: 50%;
    margin-bottom: 10px;
    font-size: 16px;
}
.item img{
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
}
.captcha_block{
    margin-bottom: 20px;
}
.captcha_block .captcha_reload:hover{
    color: #ffffff;
}
.captcha_block button{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #FFC974;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 28%;
    font-size: 16px;
}
.captcha_block button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FFC974;
    font-size: 16px;
}
.error{
    color: red;
}
.feedback_sended{
    height: 60px;
    font-size: 30px;
    text-align: center;
    display: block;
}
.captcha_reload{
    color:red;
    margin-left: 10px;
}