.content
{
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 1035px;
    height: 672px;
    clear: both;
    position: relative;
    top: 70px;
}
.catalog
{
    background: url("../images/content_bg.jpg");
    width: 1012px;
    height: 650px;
    background-color: #000000 ;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    filter: alpha(opacity=80);
    border: 2px solid #e8d6b1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px auto;
    outline: none;
}
.disc
{
    margin-right: 15px;
    position: relative;
    left: 10px;
    overflow: hidden;
    width: 233px;
}
.disc > a
{
    display: block;
}
.disc a > span
{
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.trigger a>span{
    overflow: visible!important;
}
/*.poster*/
/*{*/
    /*width: 225px;*/
    /*height: 175px;*/
    /*border: 2px solid #ffee9f;*/
/*}*/
.disc_poster  img{
    width: 225px;
    height: 175px;
    border: 2px solid #ffee9f;
}
.main_catalog
{
    margin: 15px 5px;
}
.last_update
{
    color: #ff0000;
    font-size: 26px;
    position: relative;
    top: 60px;
    left: 50px;
    text-transform: uppercase;
}
.catalog_slider
{
    position: relative;
    width: 885px;
    border: 2px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    top: 90px;
    margin-bottom: 60px;
}
.trigger {
    position:absolute;
    display:none;
}
.disc_body
{
    width: 224px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: -210px;
    right: -2px;
}
.disc_body .korzina{
    position: relative;
    top: -15px;
}
.details{
    margin: 0!important;
    position: relative;
    top: -65px;
    left: 22px;
    display: inline!important;
}
.details span{
    display: inline!important;
}
@-moz-document url-prefix()/*Firefox*/
{
    .disc_body
    {
        position: relative;
        top: -213px;
    }
}
.disc_body a
{
    margin: 70px 55px;
    display: block;
}

.disc_body span
{
    margin-left: 30px;
    color: red;
    font-size: 19px;
    font-weight: bold;
}
.all_catalog
{
    border: 2px solid;
    width: 1040px;
    margin-top: 140px;
    height: 666px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.all_catalog > span
{
    text-align: left;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    top: -60px;
    color: red;
    font-weight: bold;
    left: 10px;
}
.all_catalog_inner_border
{
    border: 1px solid #e8d6b1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    width: 993px;
    height: 617px;
    margin: 10px 14px;
    background-color: rgba(0, 0, 0, 0.7);
    outline: none;
    padding: 15px 10px;
    position: relative;
    top: -60px;
}
/*sort*/
.sort_header
{
    position: relative;
    top: -90px;
    left: 240px;
    font-size: 18px;
    text-align: center;
    background: url("../images/right_arrow.png") no-repeat;
    background-position: 182px 7px;
    width: 190px;
    cursor: pointer;
    display: inline-block;
}
.layout_sort
{
    display: none;
    position: absolute;
    top: -90px;
    right: 265px;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding: 3px 10px;
    background-color: rgba(3, 3, 3, 0.5);
    width: 330px;
}
.layout_sort li a:hover
{
    color: white;
}
.catalog_to_bin
{
    position: relative;
    top: -111px;
    float: right;
}
.catalog_to_bin a p
{
    font-size: 19px;
    color: red;
}
.paginate
{
    background: url("../images/paginate_page_bg.png") no-repeat;
    position: relative;
    top: -40px;
    height: 30px;
    left: 20px;
    margin: 0 auto;
    width: 980px;
    text-align: center;
}
.pagination
{
    padding-top: 3px;
    position: relative;
    left: -30px;
    font-size: 19px;
}
.fs18px
{
    font-size: 18px;
}
.disc_info{
    position: relative;
    top: 70px;
    width: 960px;
    background-color: rgba(3, 3, 3, 0.6);
    border: 2px solid;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.disc_info p span{
    font-family: Calibri!important;
    font-size: 16px!important;
}

.disc_info .korzina{
    margin: 10px 10px;
}
.disc_info  .korzina p, .disc_info_to_bin p{
    color: red;
    text-transform: uppercase;
    font-size: 17px;
    margin-left: 35px;
    margin-top: 5px;
}
.disc_info_to_bin{
    float: right;
    position: relative;
    top: 15px;
}
.disc_info > span{
    text-align: center;
    display: block;
    font-size: 35px;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid #FFC974;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}
.disc_info_content strong{
   word-break: break-all;
   color: red;
   font-size: 18px;
}
.disc_info .disc_info_image{
    float: left;
    margin-right: 15px;
}
.disc_info img{
    width: 400px;
    height: auto;
    border: 2px solid;
}
.trailers img{
    border: 2px solid #ffee9f;
}
.trailers span{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.trailers .disc{
    margin: 0 30px 0 15px!important;
}
.popup_trailer{
    text-align: center;
}
.popup_trailer h2, h3{
    color: #ffffff;
    margin-bottom: 10px;
}
.trailer_description{
    color: #FFC974;
    text-align: left;
    margin: 10px 75px;
    width: 80%;
}
.catalog_title{
    border: 1px solid #FFC974;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block!important;
}
.trailers p{
    text-transform: uppercase;
    color: red;
}
.janrs_block{
    position: relative;
    left: -20px;
    top: 10px;
    float: left;
    font-size: 19px
}
.janrs_block ul li{
    line-height: 30px;
}
.janrs_block ul li a:hover{
    color: #ffffff;
}
.janr_title{
    color: white;
    margin-left: 40px;
    padding: 3px 15px;
}
.movies_block .movie{
    margin: 5px 17px;
    width: 169px;
    overflow: hidden;
}
.movies_block .movie img{
    width: 165px;
    height: 230px;
}
.movie_info_block img{
    width: 220px;
    height: 330px;
    float: left;
    margin: 10px 10px;
}
.movie_info_block iframe{
    float: right;
    width: 700px;
    height: 425px;
    border: 3px solid;
    border-radius: 4px;
    margin: 10px 18px;
}
.movie_info_block p{
    clear: both;
    color: #FFC974!important;
    text-transform: none!important;
    margin-bottom: 10px;
}
.movie_info_block p span{
    color: #ffffff;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}
.movie_info p a:hover{
    color: #ffffff;
}
.movie_info{
    margin: 0 15px;
    position: relative;
    top: -90px;
    width: 240px;
    float: left;
}
.movie_description{
    float: left;
    position: relative;
    left: 40px;
    width: 650px;
}
.movie_description p{
    color: white!important;
}
.movie_description p span{
    margin: 10px 20px;
    color: #FFC974;
}
.comments_main_block{
    position: relative;
    left: 70px;
    top: 20px;
}
.comments_main_block h2{
    padding: 0 50px!important;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.comment_outbox{
    border: 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 650px;
    float: left;
}
.comment_inbox{
    border: 2px solid #e8d6b1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 8px 8px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
.comment_form textarea{
    border: 2px solid;
    background-color: transparent;
    width: 595px;
    font-size: 16px;
    height: 130px;
    padding: 5px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.comment_button button{
    width: 240px!important;
}
.comment_show{
    border: 2px solid #e8d6b1;
    width: 55%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    right: 170px;
    top: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 10px;
}
.comment_block span{
    display: block;
}
.comment_block .comment_author{
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 5px;
    background-color: rgba(128, 128, 128, 0.4);
}
.comment_block .comment_date{
    float: right;
}
.comment_block .comment_content{
    margin: 10px 10px;
}
.no_comment{
    font-size: 24px;
}
.trailers .disc{
    width: 286px!important;
}