.registration_block
{
    position: relative;
    top: 80px;
}
.registration_input input
{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 30px;
    width: 240px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 16px;
}
.registration_blocks
{
    position: relative;
    left: 15%;
}
.registration_block label{
    float: left;
    width: 130px;
    text-align: right;
    margin-right: 15px;
    padding-top: 11px;
}
.registration_block ul{
    position: relative;
    left: 110px;
}
.registration_block ul li{
    color: red;
}
.registration_block > p{
    text-align: center ;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
    padding: 40px 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}
/*.registration_label*/
/*{*/
    /*float: left;*/
    /*width: 130px;*/
    /*text-align: right;*/
    /*margin-right: 15px;*/
    /*padding-top: 11px;*/
/*}*/

.label_registration{
    position: relative;
    top: -39px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.label_registration + ul{
    top: -20px;
}
.fos_user_registration_register span {
    color: red;
}
.button_register {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFC974;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 25px;
    margin-right: 40px;
    margin-top: 10px;
    width: 130px;
    text-transform: uppercase;
    font-size: 16px;
}
.button_register:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FFC974;
}
.button_register:focus
{
    border: 1px solid #FFC974;
}
.check_email {
    text-align: center;
    font-size: 17px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 150px;
    margin-top: 20px;
    display: block;
    width: 800px;
}
.log_reg {
    display: inline-block;
    margin: -70px -5px;
    position: relative;
    float: right;
}
.registration_submit
{
    position: relative;
    left: 100px;
    margin-top: -10px;
    margin-left: 138px;
}
.registration_submit button
{
    width: 160px;
}
.user_registration
{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #F9B655;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    display: inline-block;
    height: 31px;
    position: relative;
    right: -3%;
    width: 261px;
    font-size: 20px;
}
.register
{
    display: inline-block;
    margin-bottom: 15px;
}
.user_registration_hover {
    background: url("../images/left_header_menu_hover.png") no-repeat;
    float: right;
    height: 46px;
    margin: -47px -1px;
    position: absolute;
    visibility: hidden;
    width: 280px;
    z-index: 2;
}
a:hover .user_registration_hover {
    visibility: visible;
}
.label_register {
    color: #FFFFFF;
    display: block;
    font-size: 19px;
    margin: -33px 35px;
    position: absolute;
    z-index: 2;
}
.reg_strelka {
    background: url("../images/reg_strlelka.png") no-repeat;
    display: block;
    float: right;
    height: 20px;
    margin: -27px 160px;
    position: absolute;
    width: 30px;
}
.user_login {

}
.user_block{
    border: 2px solid;
    margin: 15px 65px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 40px 45px;
    border-radius: 4px;
}
.account_list{
    margin-top: 5px;
}
.user_block a:hover{
    color: #ffffff;
}
.edit_block{
    text-align: center;
    position: relative;
    top: 70px;
    border: 2px solid;
    width: 840px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.select_style select:nth-child(1){
    /*border: 1px solid;*/
    overflow: hidden;
    background: url("../images/down-arrow-orange.png") no-repeat right rgba(0, 0, 0, 0.5);
    background-size: 13px;
    /*width: 240px;*/
}
.select_style select:nth-child(2){
    /*border: 1px solid;*/
    overflow: hidden;
    background: url("../images/down-arrow-orange.png") no-repeat right rgba(0, 0, 0, 0.5);
    background-size: 13px;
    /*width: 240px;*/
}
.select_style select:nth-child(3){
    /*border: 1px solid;*/
    overflow: hidden;
    background: url("../images/down-arrow-orange.png") no-repeat right rgba(0, 0, 0, 0.5);
    background-size: 13px;
    /*width: 240px;*/
}
.select_style select{
    border-radius: 4px;
    padding: 5px;
    border: 2px solid;
    line-height: 1;
    -webkit-appearance: none;
    width: 92px;
    font-size: 16px;
}
.control-group ul li
{
    color: red;
    margin-bottom: 10px;
}
.control-label{
    margin-bottom: 5px;
    display: block;
}
.titleHeader h2{
    text-align: left;
    color: red;
    margin-bottom: 10px;
}
.select_style select option{
    background-color: rgba(0, 0, 0, 0.8);
}
.user_profile{
    top: 20px;
    position: relative;
}
.forgot_password
{
    position: relative;
    top: -15px;
    right: -145px;
}
.submit_login
{
    margin-right: -40px;
    margin-top: -10px;
}
.fos_user_resetting_request
{
    margin-bottom: 15px;
}
.reset_password
{
    float: right;
    margin: -30px 20px;
}
.send_reset_password
{
    float: right;
    width: 355px;
    margin-top: -57px;
}
.reset_password > input
{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 30px;
    margin: 5px 40px 5px -10px;
    padding-left: 10px;
    width: 260px;
    font-size: 16px;
}
.reset_button
{
    margin: -5px 15px;
}
.reset_password p
{
    width: 315px;
    overflow: auto;
    margin-top: -10px;
    margin-bottom: 10px;
}
#right_side {
    float: right;
    margin-right: 60px;
}
#right_side > span
{
    position: absolute;
    color: red;
    top: 55px;
}
.login_password {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 260px;
    font-size: 16px;
}
#right_side span {
    display: block;
    float: left;
    margin-top: -3px;
}
.reg_strelka1 {
    background: url("../images/reg_strlelka.png") no-repeat;
    height: 20px;
    margin-left: 20%;
    width: 30px;
}
.reg_strelka2 {
    background: url("../images/reg_strlelka.png") no-repeat;
    height: 20px;
    margin-left: 23%;
    width: 30px;
}
.oznakomleniye
{
    border: 2px solid;
    width: 850px;
    height: 330px;
    border-radius: 4px;
    margin-top: -10px;
    margin-bottom: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}
.oznakomleniye div:nth-child(1)
{
    border: 2px solid #ffffff;
    width: 825px;
    height: 307px;
    margin-top: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
}
.for_users_description
{
    position: relative;
    top: -290px;
    left: 40px;
}
.for_users_description ul{
    left: 0;
}
.for_users_description *
{
    color: #ffffff!important;
    list-style: disc;
}
.fos_user_resetting_reset input{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 260px;
    font-size: 16px;
}
.fos_user_resetting_reset input[type=submit]{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFC974;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 25px;
    width: 180px;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    left: 145px;
}
.fos_user_resetting_reset input[type=submit]:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FFC974;
}
#fos_user_resetting_form ul{
    left: 0;
    top: -5px;
}
#fos_user_resetting_form_new_second{
    margin-top: 14px;
}